h1{
    font-family:Arial, Helvettica, Sans-serif;
}

body {
    background-color: #D2B48C;
    font-family:Arial, Helvettica, Sans-serif;
}

table {
    border-collapse: collapse;
    border: 3px solid white;
}

td {
border: 3px solid white;
}

th {
    color: #696969;
    background-color:lightyellow;
    border: 3px solid white;
    text-align: right;
}

tr {
    color: white;
    background-color: #F08080;
    border:white;
}

.right{
    text-align:right;
}

.add td{
    border:none;
    height:25px;
    padding:10px;
    font-weight:bold;
}

.update td{
    border:none;
    height:25px;
    padding:10px;
    font-weight:bold;
}

input[readonly]{
    background-color:gray;
}